:root {
  --branding-color: #6eabff;
  --secondary-color: #b1d9ff;
  --tertiary-color: #23057f;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px 100px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p,
li {
  font-size: 16px;
}

.content li {
  font-weight: bold;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-branding:hover {
  color: var(--tertiary-color);
  background: white;
}

.homepage-hero-button {
  margin: 0 10px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.primary-link .secondary-link {
  text-transform: uppercase;
  font-weight: bold;
}

.intro-text {
  font-weight: bold;
  font-size: 20px;
}

.project-description {
  padding: 120px 60;
  text-align: center;
}

.right-project-screenshot {
  margin-left: 75px;
}

.logo {
  max-height: 40px;
}

.nav-bg {
  background: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

.fa-brands {
  font-size: 30px;
  margin: 0 30px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 20px 20px;
  border-radius: 50%;
}

.fa-brands:hover {
  color: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}

.footer-image {
  max-width: 75px;
  max-height: 75px;
  margin: 0 30px;
  background: var(--secondary-color);
  padding: 20px 20px;
  border-radius: 50%;
}

.footer-image:hover {
  background: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  line-height: 42px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--tertiary-color);
}

@media (max-width: 900px) {
  .homepage-hero-button {
    display: block;
    margin: 10px 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }

  .content h1 {
    margin-top: 100px;
  }
}
